.keyValueTable tbody tr td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

.moduleTable th,
.interfaceTable th {
    text-align: left;
}

.moduleTable thead tr th:nth-child(2),
.moduleTable tbody tr td:nth-child(2),
.interfaceTable thead tr th:nth-child(2),
.interfaceTable tbody tr td:nth-child(2) {
    padding-right: 1em;
}

.moduleTable tbody tr td:nth-child(3) {
    padding-right: 1em;
}

.error {
    color: #800;
}
