.keyValueTable tbody tr td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

.moduleTable th,
.interfaceTable th {
    text-align: left;
}

.moduleTable thead tr th:nth-child(2),
.moduleTable tbody tr td:nth-child(2),
.interfaceTable thead tr th:nth-child(2),
.interfaceTable tbody tr td:nth-child(2) {
    padding-right: 1em;
}

.moduleTable tbody tr td:nth-child(3) {
    padding-right: 1em;
}

.moduleTable button {
    color: #008;
}

.error {
    color: #800;
}

.moduleDetail {
    background-color: #eee;
    margin-left: 2em;
    padding: 0em 1em ;
    border: 1px solid #ccc;
}

.moduleDetail h5 {
    font-size: 120%;
}

.moduleDetail h6 {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.moduleDetail code {
    font-size: 90%;
}
